@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:400,600');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html,
body{
  height: 100%;
  background:rgb(255,255,244);
}

body{
  background:rgb(255,255,244);
}

.navbar {

  background-color: transparent;
}

.back {
  background:rgb(255,255,244);
}

.top-nav-collapse {
  background-color: #4285F4;
}



@media only screen and (max-width: 768px) {
  .navbar {
      width: 100%;
      height: 15%;
  }
}

.responsive {
  width:100%;
  height:auto;
}


.imgContainer{
    float:left;
}

.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}


.hoja{
  color: rgb(220,220,226);
  position:relative;
  /* top:50%; left:50%; */
  margin-left:40%;
  /* margin-top:100px; */
  /* align-content:center; */
  width:80px;
  height:80px;
  /* text-align:center; */
  /* font-family: 'Open Sans', sans-serif; */
  font-size:15px;
  /* line-height:280px; */
  -webkit-font-smoothing: antialiased;
  /* background-size:100px;
  background-repeat: no-repeat; */
  /* background-image:url('./components/jacoto_logo.png'); */
}

.hoja:after,
.hoja:before{
  content:"";
  border-radius:100%;
  position:absolute;
  top:0; left:3px;
  width:90%;
  height:90%;
  transform-origin:center center;
  z-index:-50;
}

.hoja:after{
  box-shadow: inset 0 7px 0 rgba(250, 250, 0, 0.6),
              inset 7px 0 0 rgba(250, 200, 0, 0.6),
              inset 0 -7px 0 rgba(250, 150, 0, 0.6),
              inset -7px 0 0 rgba(250, 100, 0, 0.6);
  animation: rotar 2s -0.5s linear infinite;

}

.hoja:before{
  box-shadow: inset 0 7px 0 rgba(0, 250, 250, 0.6),
              inset 7px 0 0 rgba(0, 200, 200, 0.6),
              inset 0 -7px 0 rgba(0, 150, 200, 0.6),
              inset -7px 0 0 rgba(0, 200, 250, 0.6);
  animation: rotarIz 2s -0.5s linear infinite;
}

@keyframes rotar{
  0%{
    transform:rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50%{
    transform:rotateZ(180deg) scaleX(0.82) scaleY(0.95);
  }
  100%{
    transform:rotateZ(360deg) scaleX(1) scaleY(1);
  }
}

@keyframes rotarIz{
  0%{
    transform:rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50%{
    transform:rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
  }
  100%{
    transform:rotateZ(-360deg) scaleX(1) scaleY(1);
  }
}

.hoja-nav{
  color: rgb(220,220,226);
  position:relative;
  left:10%;
  /* margin-left:40%; */
  /* margin-top:100px; */
  /* align-content:center; */
  /* padding-right:300px; */
  width:60px;
  height:60px;
  /* text-align:center; */
  /* font-family: 'Open Sans', sans-serif; */
  /* font-size:5px; */
  /* line-height:280px; */
  -webkit-font-smoothing: antialiased;
  /* background-size:70px; */
  background-repeat: no-repeat;
  /* background-image:url('./components/jacoto_logo.png'); */
  background-position:center;
}

.hoja-nav:after,
.hoja-nav:before{
  content:"";
  border-radius:100%;
  position:absolute;
  top:5px; left:10px;
  width:80%;
  height:80%;
  transform-origin:center center;
  z-index:-50;
}

.hoja-nav:after{
  box-shadow: inset 0 5px 0 rgba(250, 250, 0, 0.6),
              inset 5px 0 0 rgba(250, 200, 0, 0.6),
              inset 0 -5px 0 rgba(250, 150, 0, 0.6),
              inset -5px 0 0 rgba(250, 100, 0, 0.6);
  animation: rotar 2s -0.5s linear infinite;

}

.hoja-nav:before{
  box-shadow: inset 0 5px 0 rgba(0, 250, 250, 0.6),
              inset 5px 0 0 rgba(0, 200, 200, 0.6),
              inset 0 -5px 0 rgba(0, 150, 200, 0.6),
              inset -5px 0 0 rgba(0, 200, 250, 0.6);
  animation: rotarIz 2s -0.5s linear infinite;
}

@keyframes rotar{
  0%{
    transform:rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50%{
    transform:rotateZ(180deg) scaleX(0.82) scaleY(0.95);
  }
  100%{
    transform:rotateZ(360deg) scaleX(1) scaleY(1);
  }
}

@keyframes rotarIz{
  0%{
    transform:rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50%{
    transform:rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
  }
  100%{
    transform:rotateZ(-360deg) scaleX(1) scaleY(1);
  }
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center
}

.flex-item {
  background: tomato;
  /* padding: 5px; */
  width: 200px;
  height: 100%;
  margin-top: 10px;

}

.course-card {
  /* border: 1px black solid; */
  /* width: 20%; */
  height:100%;
  border-radius: 25px;
  margin: 10px;
  background-color:white;
  /* margin: 0 auto; */
  transition: transform .5s;
  /* display: flex; */

}

.course-card:hover  {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  opacity: 1;

}

.gallery-card {
  /* border: 1px black solid; */
  /* width: 20%; */
  height:95%;
  border-radius: 25px;
  margin: 10px;
  background-color:white;
  transition: transform .5s;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top-left-radius:25px;
  border-bottom-right-radius:25px;
  /* justify-content: center; */

}



.gallery-card:hover  {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  opacity: 1;
}

.container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.icon {
  padding:10px;
  padding-bottom:10px;
}

.icon:hover {
  color: red;
}

.heart-colored {
  color:red;

}

.lineElement {
  width:100%;
  height:20px;
  borderBottom:1px solid black;
  textAlign:center;
}

.lineElement:before {
    content: "";
    position: absolute;
    top: 48%;
    width: 125px;
    height: 1px;
    background: black;
}

.lineElement:before {
    right: 75%;
    margin-right: 15px;
}

.searchElement {
  width:100%;
  height:20px;
  borderBottom:1px solid black;
  textAlign:center;
}

.searchElement:before {
    content: "";
    position: absolute;
    top: 42%;
    width: 125px;
    height: 1px;
    background: black;
}

.searchElement:before {
    right: 75%;
    margin-right: 15px;
}
.aboutElement {
  width:100%;
  height:20px;
  borderBottom:1px solid black;
  textAlign:center;
}

.aboutElement:before {
    content: "";
    position: absolute;
    top: 46%;
    width: 125px;
    height: 1px;
    background: black;
}

.aboutElement:before {
    right: 75%;
    margin-right: 15px;
}

.descriptionElement {
  width:100%;
  height:20px;
  borderBottom:1px solid black;
  textAlign:center;
}

.descriptionElement:before {
    content: "";
    position: absolute;
    top: 42%;
    width: 125px;
    height: 1px;
    background: black;
}

.descriptionElement:before {
    right: 50%;
    margin-right: 15px;
}

.advancedElement {
  width:100%;
  height:20px;
  borderBottom:1px solid black;
  textAlign:center;
}

.advancedElement:before {
    content: "";
    position: absolute;
    top: 45%;
    width: 125px;
    height: 1px;
    background: black;
}

.advancedElement:before {
    right: 57%;
    margin-right: 15px;
}

.courseImageIndividual {
  max-width:700px;
  min-width:700px;
  box-shadow: -10px -10px #880e4f;

}

.course-card:hover .overlay {
  opacity: .785;
}

.gallery-card:hover .overlay {
  opacity: .785;
}

.search-button {

}

.search-button:hover  {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  opacity: 1;
}

.search-button:hover .overlay {
  opacity: .785
}

.overlay {
  position: absolute;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  height: 50%;
  width: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #880e4f;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Oswald
}

hr.style-four {
    height: 1px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))
}


#test {
    text-align: center;
    -webkit-animation: fadeout 2s; /* Safari, Chrome and Opera > 12.1 */
}

@keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.profile-button {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  width:auto;
  opacity:0.2;
}
